<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qinglin.small.main">

    <application
        android:name=".SmallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.qinglin.small.app.car.CarSubActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="car"
                    android:path="/carlist"
                    android:scheme="small"/>
            </intent-filter>
        </activity>

        <activity android:name="com.qinglin.small.app.dealer.DealerSubActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="dealer"
                    android:path="/dealerlist"
                    android:scheme="small"/>
            </intent-filter>
        </activity>
    </application>

</manifest>